<div class="card text-center">
  <div class="card-header">
     My Portfolio
  </div>
  <div class="card-body">
    <div class="image">
      <img src="assets/image/Maejoy.jpeg">
    </div>
    <h5 class="card-title">Mae Joy Badeo Bollicer</h5>
    <ul>
      <li><b>maejoy.bollicer@evsu.edu.ph</b></li>
        <li><b>Address: Jaro, Leyte</b></li>
        <li><b>School: EVSU-CARIGARA CAMPUS</b></li>
        <li><b>AGE: 20 Yrs. old</b></li>
        <li><b>Hobbies: Playing Badminton,singing</b></li>
        <li><b>Birthdate: May 30, 2021</b></li>
        <li><b>Father's Name: Romeo G. Bollicer</b></li>
        <li><b>Mother's Name: Elma B. Bollicer</b></li>
    </ul>
   
  </div>
  <div class="card-footer">
  <p> My Portfolio</p> 
  </div>
</div>